.gradle
./build
./emoji
./sinon-1.0-all.jar
/.idea/
/.
/build/
/emoji/
/sinon-1.0-all.jar
/src/main/java/wtf/triplapeeck/oatmeal/backend/Secrets.java
build.bat
build.sh
.vscode
*.class
.env
/work/*
/work
/config.json
